# Bundle specific
composer.lock

# Managed by Composer
/vendor/

# PHPUnit
/phpunit.xml

# Build data
/build/

# Composer PHAR
/composer.phar

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
/.web-server-pid

.idea